@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8fafc;
  font-family: 'Nunito', sans-serif;
}

#root {
  display: flex;
  min-height: 100vh;
}
